.sidebar{
    background: #007356;
    color: #FFFFFF;
    /* border: 1px solid #007356; */
    border-radius: 20px;
    padding: 8px;
}
.sidebarBtn{
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: none;
    
}
.routerText{
    color: "#FFFFFF"
}

.dropdownContent{
    display: none;
    background: gray;
    text-align: center;
}
.dropdownWrapper:hover .dropdownContent{
    display: block;
}