.sidebar{
    background: #007356;
    color: #FFFFFF;
    /* border: 1px solid #007356; */
    border-radius: 20px;
    padding: 8px;
}
.sidebarBtn{
    cursor: pointer;
}
.routerText{
    color: "#FFFFFF"
}