.globalBg{
    background: #F3F3F3;
}
.bgCategory{
    background: #FFFFFF;
    border: 1px solid #676767;
    border-radius: 10px;
}
.subCategoryName{
    background: "#FFFFFF";
    box-shadow: 3px 3px 4px 4px #676767;
    border-radius: 17px;
}
.commonBtn {
    background: #007356;
    border: 1px solid #007356;
    border-radius: 6px;
    font-size: 12px;
    padding: 6px;
    color: #FFFFFF;
}
.eyeIcon{
    color: #007356;
}
.chooseCategory {
    border: 1px solid #676767;
    height: 40px;
    font-size: 14px;
}
.font-weight{
    font-weight: 500;
    font-size: 15px;
}
.inputFieldStyle{
    border: 1px solid #676767;
}
.updateStockBtn{
    font-size: 11px;
}
.lux{
    height: 40px;
}