.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.dashboardBg{
    background: #EEEEFF;
}
.topbarBtn{
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 17px;   
 }
 .topbarProfitBtn{
     background: #34B53A;
     border: 1px solid #34B53A;
     border-radius: 17px;
     color: #FFFFFF;
 }
 .topbarProfileBtn{
     background: #007356;
     color: #FFFFFF;
     border: 1px solid #007356;
     border-radius: 17px;
 }
 .topbarBtn:hover{
     background: #007356;
     color: #FFFFFF;
     border: 1px solid #007356;
 }
 .show{
     display: block;
 }
 .hidden{
     display: none;
 }
 .sidebarToggle{
     font-size: 35px;
     color: #007356;
     cursor: pointer; 
 }
 .searchField{
    position: relative;
    padding-left: 30px;
}
 .searchIcon{
    position: absolute;
    top: 14px;
    left: 26px;
    z-index: 1;
}
.productBg{
    background: #FFFFFF;
    border-radius: 17px;
}
.pdSizeStyle{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: #FFFFFF;
    border-radius: 50%;
    margin: 7px;
    font-size: 12px;
    background: #EEEEFF;
    /* box-shadow: 3px 3px 3px gray; */
}
.lightText{
    color: #B2B2BF;
}
.textClr{
    color: #584FF3;
    
}
.notificationTopIcon{
    margin-right: 15px;
    font-size: 20px;
    color: #007356;
}
.productText{
    font-size: 12px;
}
.productDropdown {
    border-radius: 10px;
    background: #EEEEEE;
    width: 30px;
    height: 18px;
    font-size: 9px;
    margin-left: 4px;
    color: #E3106D;
}
.productFontWeight{
    font-weight: 600;
    font-size: 18px;
}
.productName{
    font-size: 14px;
}
.plus {
    height: 28px;
}
.quantity{
    height: 30px;
    width: 30px;

}
.updateBtn {
    font-size: 12px;
}
.stockOutDropdown {
    border-radius: 12px;
    background: #EEEEFF;
    height: 25px;
    font-size: 14px;
}